@import '../../../../MERN TALKEASE/PFE/client/node_modules/tailwindcss/base.css';
@import '../../../../MERN TALKEASE/PFE/client/node_modules/tailwindcss/components.css';
@import '../../../../MERN TALKEASE/PFE/client/node_modules/tailwindcss/utilities.css';


.parenth {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 50px;
    
    
    
    }
    
    .div1h { grid-area: 1 / 1 / 2 / 2; 
            background-color: rgb(246, 40, 140);
            height: 598px;
            width: 220px;
            margin:5%;
            border-radius: 30px;

           }
     .imagelogo1h {
        position: absolute;
        top: 30px; /* Ajuste la distance du haut selon tes besoins */
        left: 19px; /* Ajuste la distance de la gauche selon tes besoins */
        width: 200px; /* Définir la largeur souhaitée */
        height: 350px; /* Définir la hauteur souhaitée */
    }
    .button1h {
        position: relative;
        top: 150px; 
        margin: auto;
        left: 0px; 
        width: 220px;
        height: 50px;
        border-radius: 60px;
        background-color: rgb(246, 40, 140); /* Couleur de fond de base */
        color: #000000; /* Couleur du texte */
        background-color: #ffffff;
        font-size: 20px; /* Taille de la police */
        text-align: center; /* Centrage du texte */
        cursor: pointer; /* Curseur de la souris en forme de main */
        transition: background-color 0.3s; /* Transition pour le changement de couleur de fond */
    }
    
    .button1h:hover {
        position: relative;
        background-color: #ffffff; /* Couleur de fond au survol */
        color: #000000; 
        box-shadow: 0 0 80px #55034a;/* Couleur du texte au survol */
    }
    .button2h {
        position: relative;
        margin: auto;
        top: 160px; 
        left: 0px; 
        width: 220px; 
        height: 50px;
        border-radius: 60px;
        background-color: rgb(246, 40, 140); /* Couleur de fond de base */
        color: #ffffff; /* Couleur du texte */
        font-size: 20px; /* Taille de la police */
        text-align: center; /* Centrage du texte */
        cursor: pointer; /* Curseur de la souris en forme de main */
        transition: background-color 0.3s; /* Transition pour le changement de couleur de fond */
    }
    
    .button2h:hover {
        position: relative;
        background-color: #ffffff; /* Couleur de fond au survol */
        color: #000000; 
        box-shadow: 0 0 80px #55034a;/* Couleur du texte au survol */
    }
    .button3h {
        position: relative;
        margin: auto;
        top: 170px; 
        left: 0px; 
        width: 220px; 
        height: 50px;
        border-radius: 60px;
        background-color: rgb(246, 40, 140); /* Couleur de fond de base */
        color: #ffffff; /* Couleur du texte */
        
        font-size: 20px; /* Taille de la police */
        text-align: center; /* Centrage du texte */
        cursor: pointer; /* Curseur de la souris en forme de main */
        transition: background-color 0.3s; /* Transition pour le changement de couleur de fond */
    }
    
    .button3h:hover {
        position: relative;
        background-color: #ffffff; /* Couleur de fond au survol */
        color: #000000; 
        box-shadow: 0 0 80px #55034a;/* Couleur du texte au survol */
    }
    .button4h {
        position: relative;
        margin: auto;
        top: 180px; 
        left: 0px; 
        width: 220px; 
        height: 50px;
        border-radius: 60px;
        background-color: rgb(246, 40, 140); /* Couleur de fond de base */
        color: #ffffff; /* Couleur du texte */
        font-size: 20px; /* Taille de la police */
        text-align: center; /* Centrage du texte */
        cursor: pointer; /* Curseur de la souris en forme de main */
        transition: background-color 0.3s; /* Transition pour le changement de couleur de fond */
    }
    
    .button4h:hover {
        position: relative;
        background-color: #ffffff; /* Couleur de fond au survol */
        color: #000000; 
        box-shadow: 0 0 80px #55034a;/* Couleur du texte au survol */
    }
    .button5h {
        position: relative;
        margin: auto;
        top: 270px; 
        left: 0px; 
        width: 220px; 
        height: 50px;
        border-radius: 60px;
        background-color: rgb(246, 40, 140); /* Couleur de fond de base */
        color: #ffffff; /* Couleur du texte */
        font-size: 20px; /* Taille de la police */
        text-align: center; /* Centrage du texte */
        cursor: pointer; /* Curseur de la souris en forme de main */
        transition: background-color 0.3s; /* Transition pour le changement de couleur de fond */
    }
    
    .button5h:hover {
        position: relative;
        background-color: #ffffff; /* Couleur de fond au survol */
        color: #000000; 
        box-shadow: 0 0 80px #55034a;/* Couleur du texte au survol */
    }
    .button6h {
        position: relative;
        margin: auto;
        top: 280px; 
        left: 0px; 
        width: 220px; 
        height: 50px;
        border-radius: 60px;
        background-color: rgb(246, 40, 140); /* Couleur de fond de base */
        color: #ffffff; /* Couleur du texte */
        font-size: 20px; /* Taille de la police */
        text-align: center; /* Centrage du texte */
        cursor: pointer; /* Curseur de la souris en forme de main */
        transition: background-color 0.3s; /* Transition pour le changement de couleur de fond */
    }
    
    .button6h:hover {
        position: relative;
        background-color: #ffffff; /* Couleur de fond au survol */
        color: #000000; 
        box-shadow: 0 0 80px #55034a;/* Couleur du texte au survol */
    }
    .imagelogo2h {
        position: absolute;
        top: 8px; /* Ajuste la distance du haut selon tes besoins */
        left: 10px; /* Ajuste la distance de la gauche selon tes besoins */
        width: 30px; /* Définir la largeur souhaitée */
        margin: auto;
        border-radius: 90px;
        
    }
    .imagelogo3h {
        position: absolute;
        top: 0px; /* Ajuste la distance du haut selon tes besoins */
        left: 7px; /* Ajuste la distance de la gauche selon tes besoins */
        width: 50px; /* Définir la largeur souhaitée */
        margin: auto;
        border-radius: 90px;
    }
    .activity-stats-base {
        grid-row:    3 / 4;
        grid-column: 6 / 10;
        background-color: white;
    }
    
    .activity-stats-title {
        color: #3C3C3C;
        margin-top: 16px;
        margin-left: 16px;
        margin-bottom: 0;
        font-size: medium;
        font-weight: bold;
        text-align: start;
        z-index: 1;
        position: absolute;
    }
    
    .activity-stats-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .activity-chart-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   