.leader-board-base {
    grid-row:    2 / 4;
    grid-column: 3 / 6;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leader-board-stats-title {
    color: #3C3C3C;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    font-size: medium;
    font-weight: bold;
    text-align: start;
    width: calc(100% - 16px);
}

.leader-board-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex: 1;
}


