.base {
    background-color: #efefef;
    height: 100vh;
    width: 100vw;
    /*min-height: 500px;*/
    /*min-width: 1920px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*overflow: hidden;*/
}