.pink-bg{
    background-color: #F72585;
}

.blue-bg{
    background-color: #4361EE;
}

.dark-blue-bg{
    background-color: #3A0CA3;
}

.light-blue-bg{
    background-color: #4CC9F0;
}

.purple-bg{
    background-color: #7209B7;
}

.green-bg{
    background-color: #2BC016;
}

.red-bg{
    background-color: #DA2C38;
}

.text-black{
    color: #3C3C3C;
}

.text-pink{
    color: #F72585;
}